.mini-block .block {
    padding: 15px;
}

.shout.shrink.small {
    font-size: 40px;
}

.color {
    height: 1em;
    display: inline-block;
    width: 1em;
    background-color: var(--c);
    vertical-align: middle;
    margin: 2px 2px 2px 10px;
}
