.mini-block .block {
    padding: 15px;
}

.shout.shrink.small {
    font-size: 40px;
}

.color {
    height: 1em;
    min-width: 0.9em;
    display: inline-block;
    line-height: 1;
    padding: 0.3em;
    background-color: var(--c) !important;
    border-radius: 0.2em;
    vertical-align: middle;
    margin: 2px 10px 2px 10px;

    color: color-contrast(var(--c) vs #A9B7C6, #2B2B2B);
}
div.color {
    width: fit-content;
    display: block;
}

.color.big {
    height: 2em;
    width: 2em;
}

div.code,
.color {
    font-family: 'PT Mono', monospace;
    background: var(--color-fill);
    padding: 0.2em 0.3em;
    line-height: 1;
    margin: 0.5em 0.3em;
    border-radius: 0.2em;
}

.pixels,
.pixel {
    background-image: linear-gradient(to right,
        color(srgb 1 0 0 / var(--ro, 1)) 33%,
        color(srgb 0 1 0 / var(--go, 1)) 33%,
        color(srgb 0 1 0 / var(--go, 1)) 66%,
        color(srgb 0 0 1 / var(--bo, 1)) 66%,
        color(srgb 0 0 1 / var(--bo, 1)) 99%
    );
    background-color: #000;
    display: inline-block;
    vertical-align: middle;
}

.pixel {
    height: 1em;
    width: 3em;
}

.pixels {
    height: 60%;
    width: 100%;
}

.palette div {
    height: 1em;
    width: 200px;
    line-height: 1em;
}

.palette div:nth-child(1)  {background-color: hsl( var(--color), 100%,  10%);}
.palette div:nth-child(2)  {background-color: hsl( var(--color), 100%,  20%);}
.palette div:nth-child(3)  {background-color: hsl( var(--color), 100%,  30%);}
.palette div:nth-child(4)  {background-color: hsl( var(--color), 100%,  40%);}
.palette div:nth-child(5)  {background-color: hsl( var(--color), 100%,  50%);}
.palette div:nth-child(6)  {background-color: hsl( var(--color), 100%,  60%);}
.palette div:nth-child(7)  {background-color: hsl( var(--color), 100%,  70%);}
.palette div:nth-child(8)  {background-color: hsl( var(--color), 100%,  80%);}
.palette div:nth-child(9)  {background-color: hsl( var(--color), 100%,  90%);}
.palette div:nth-child(10) {background-color: hsl( var(--color), 100%, 100%);}

.hover_animation_example button {
    border: none;
    padding: 10px 15px;
    font-size: inherit;
    border-radius: 5px;
}
.hover_animation_example span {
    margin: 0 20px;
}

.hover_animation_example button:nth-of-type(1) {
    background-color: hsl(200, 50%, 50%);
}
.hover_animation_example button:nth-of-type(2) {
    background-color: hsl(200, 50%, 60%);

}.hover_animation_example button:nth-of-type(3) {
    background-color: hsl(200, 50%, 40%);
}

.full_image {
    position: absolute;
    top: 50%; left: 50%;
    max-height: 100%;
    max-width: 100%;
    transform: translate(-50%, -50%);
}

input[type="range"]::-webkit-slider-thumb {
    height: 30px;
    width: 15px;
    margin-top: -5px;
    background-color: white;
    border-radius: 5px;
    border: 1px var(--bg);

    -webkit-appearance: none;
}

input[type="range"] {
    -webkit-appearance: none;
    background-color: transparent;
    width: 80%;
}

input[type="range"]::-webkit-slider-runnable-track {
    border-radius: 10px;
    height: 20px;
}