.hsl_hue,
.hsl_saturation,
.hsl_lightness {
    height: 40px;
    width: 100%;
    position: relative;
    margin-top: 2em ;
}

.hsl_hue:after,
.hsl_hue:before,
.hsl_saturation:after,
.hsl_saturation:before,
.hsl_lightness:after,
.hsl_lightness:before {
    display: block;
    position: absolute;
    top: -2em;
}

.hsl_hue:before,
.hsl_saturation:before,
.hsl_lightness:before {
    right: 0;
}

.hsl_hue {
    background-image: linear-gradient(to right,
    hsl(0, 100%, 50%),
    hsl(45, 100%, 50%),
    hsl(90, 100%, 50%),
    hsl(135, 100%, 50%),
    hsl(180, 100%, 50%),
    hsl(225, 100%, 50%),
    hsl(270, 100%, 50%),
    hsl(315, 100%, 50%),
    hsl(0, 100%, 50%)
    );
}

.hsl_round {
    background-image: conic-gradient(
            hsl(0, 100%, 50%),
            hsl(45, 100%, 50%),
            hsl(90, 100%, 50%),
            hsl(135, 100%, 50%),
            hsl(180, 100%, 50%),
            hsl(225, 100%, 50%),
            hsl(270, 100%, 50%),
            hsl(315, 100%, 50%),
            hsl(0, 100%, 50%)
    );
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.hsl_hue:after {
    content: '0';
}
.hsl_hue:before {
    content: '360';
}

.hsl_saturation {
    background-image: linear-gradient(to right,
    hsl(0, 0%, 50%),
    hsl(0, 10%, 50%),
    hsl(0, 20%, 50%),
    hsl(0, 30%, 50%),
    hsl(0, 40%, 50%),
    hsl(0, 50%, 50%),
    hsl(0, 60%, 50%),
    hsl(0, 70%, 50%),
    hsl(0, 80%, 50%),
    hsl(0, 90%, 50%),
    hsl(0, 100%, 50%)
    );
}

.hsl_saturation:after {
    content: '0%';
}
.hsl_saturation:before {
    content: '100%';
}

.hsl_lightness {
    background-image: linear-gradient(to right,
    hsl(0, 100%, 0%),
    hsl(0, 100%, 10%),
    hsl(0, 100%, 20%),
    hsl(0, 100%, 30%),
    hsl(0, 100%, 40%),
    hsl(0, 100%, 50%),
    hsl(0, 100%, 60%),
    hsl(0, 100%, 70%),
    hsl(0, 100%, 80%),
    hsl(0, 100%, 90%),
    hsl(0, 100%, 100%)
    );
}

.hsl_lightness:after {
    content: '0%';
}
.hsl_lightness:before {
    content: '100%';
}

.hsl_text_h {
    background: linear-gradient(45deg,
    hsl(0, 100%, 50%),
    hsl(45, 100%, 50%),
    hsl(90, 100%, 50%),
    hsl(135, 100%, 50%),
    hsl(180, 100%, 50%),
    hsl(225, 100%, 50%),
    hsl(270, 100%, 50%),
    hsl(315, 100%, 50%),
    hsl(0, 100%, 50%)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: white 0 0 15px;
}

.hsl_text_l {
    background: linear-gradient(45deg,
    hsl(0, 100%, 0%),
    hsl(0, 100%, 10%),
    hsl(0, 100%, 20%),
    hsl(0, 100%, 30%),
    hsl(0, 100%, 40%),
    hsl(0, 100%, 50%),
    hsl(0, 100%, 60%),
    hsl(0, 100%, 70%),
    hsl(0, 100%, 80%),
    hsl(0, 100%, 90%),
    hsl(0, 100%, 100%)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: white 0 0 15px;
}

.hsl_text_s {
    background: linear-gradient(45deg,
    hsl(0, 0%, 50%),
    hsl(0, 10%, 50%),
    hsl(0, 20%, 50%),
    hsl(0, 30%, 50%),
    hsl(0, 40%, 50%),
    hsl(0, 50%, 50%),
    hsl(0, 60%, 50%),
    hsl(0, 70%, 50%),
    hsl(0, 80%, 50%),
    hsl(0, 90%, 50%),
    hsl(0, 100%, 50%)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: white 0 0 15px;
}

.input.hsl_h::-webkit-slider-runnable-track,
.hue_hsl::-webkit-slider-runnable-track {
    background-image: linear-gradient(45deg,
    hsl(0, 100%, 50%),
    hsl(45, 100%, 50%),
    hsl(90, 100%, 50%),
    hsl(135, 100%, 50%),
    hsl(180, 100%, 50%),
    hsl(225, 100%, 50%),
    hsl(270, 100%, 50%),
    hsl(315, 100%, 50%),
    hsl(0, 100%, 50%)
    );
}

.color_hsl_inputs {
    display: flex;
    flex-direction: column;
    gap: 1em
}

#hsl_example_range_one {
    --h: 123;
    --s: 50%;
    --l: 50%;
}

.color_hsl {
    background-color: hsl(var(--h) var(--s) var(--l));
    height: 5em;
    border-radius: 0.5em;
}


.input.hsl_s::-webkit-slider-runnable-track {
    background: linear-gradient(45deg,
    hsl(var(--h), 0%, 50%),
    hsl(var(--h), 10%, 50%),
    hsl(var(--h), 20%, 50%),
    hsl(var(--h), 30%, 50%),
    hsl(var(--h), 40%, 50%),
    hsl(var(--h), 50%, 50%),
    hsl(var(--h), 60%, 50%),
    hsl(var(--h), 70%, 50%),
    hsl(var(--h), 80%, 50%),
    hsl(var(--h), 90%, 50%),
    hsl(var(--h), 100%, 50%)
    );
}

.input.hsl_l::-webkit-slider-runnable-track {
    background: linear-gradient(45deg,
    hsl(var(--h), 100%, 0%),
    hsl(var(--h), 100%, 10%),
    hsl(var(--h), 100%, 20%),
    hsl(var(--h), 100%, 30%),
    hsl(var(--h), 100%, 40%),
    hsl(var(--h), 100%, 50%),
    hsl(var(--h), 100%, 60%),
    hsl(var(--h), 100%, 70%),
    hsl(var(--h), 100%, 80%),
    hsl(var(--h), 100%, 90%),
    hsl(var(--h), 100%, 100%)
    );
}